:root{
  --correct-color: 	#6ca965;
  --present-color: #c9b458;
  --absent-color: #787c7f;
}
.wordle-game{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.wordle-app{
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.board{
display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  background: #fff;
}

.tile-row{
  gap: 1rem;
  flex: 1;
  background: #fff;
  align-items: stretch;
  justify-content: center;
  display: flex;
  padding: 1rem;
}

.tile{
  flex: 0 1 100px;
  border-radius: 5px;
  border: 5px solid #666;
  height: 100px;
  width: 100px;
  display: flex;
}

.tile.correct{
  background-color: var(--correct-color);
  border-color: var(--correct-color);
}

.tile.present{
  background-color: var(--present-color);
  border-color: var(--present-color);
}

.tile.absent{
  background-color: var(--absent-color);
  border-color: var(--absent-color);
}

.tile strong{
  font-size: 3rem;
  color: #000;
  flex: 1;
  align-content: center;
}