:root{
  --correct-color: 	#6ca965;
  --present-color: #c9b458;
  --absent-color: #787c7f;
}
.wordle-game{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.wordle-app{
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.board{
display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  background: #fff;
}

.tile-row{
  gap: 1rem;
  flex: 1;
  background: #fff;
  align-items: stretch;
  justify-content: center;
  display: flex;
  padding: 1rem;
}

.tile {
  flex: 0 1 100px;
  border-radius: 5px;
  border: 5px solid #666;
  height: 100px;
  width: 100px;
  display: flex;
  transition: background-color 0.6s ease-in-out, border-color 0.6s ease-in-out;
}

.tile.correct{
  background-color: var(--correct-color);
  border-color: var(--correct-color);
  animation: reveal 0.6s ease-in-out;
}

.tile.present{
  background-color: var(--present-color);
  border-color: var(--present-color);
  animation: reveal 0.6s ease-in-out;
}

.tile.absent{
  background-color: var(--absent-color);
  border-color: var(--absent-color);
  animation: reveal 0.6s ease-in-out;
}

.tile:nth-child(2){
  animation-delay: 0.6s;
  transition-delay: 0.6s;
}
.tile:nth-child(3){
  animation-delay: 1.2s;
  transition-delay: 1.2s;
}
.tile:nth-child(4){
  animation-delay: 1.8s;
  transition-delay: 1.8s;
}
.tile:nth-child(5){
  animation-delay: 2.4s;
  transition-delay: 2.4s;
} 

.tile strong{
  font-size: 3rem;
  color: #000;
  flex: 1;
  align-content: center;
}

@keyframes reveal {
  0%{
    transform: rotateX(0deg);
  }
  50%{
    transform: rotateX(90deg);
  }
  100%{
    transform: rotateX(0deg);
  }
}
